body {
	background-image: "yun_962.jpg";
	background-repeat: no-repeat; 
}

#header {
	background-color: #006600;
	color: #ff9900;
	text-align: center;

}

#info {
	padding: 20px;
	background-color: 
	
	
}